@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Glitch+Pop&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Rubik+Lines&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jaro:opsz@6..72&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Poetsen+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer  base {
  .btn__load{
    @apply relative text-[white] min-h-[85px] bg-black;
  }
}

body{
<<<<<<< HEAD
  background-color: black;
  color: white;
=======
>>>>>>> 86ed5d1faa66f7375286ad42afd128ebfa99fc9e
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* #0E0E0E */

/* fonts*/
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.ubuntu-sans-mono {
  font-family: "Ubuntu Sans Mono";
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jaro{
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* fonts*/

<<<<<<< HEAD
.BtnShadow {
  box-shadow: 6px 3px 10px rgb(74, 74, 147),
  -7px -5px 10px rgb(59, 59, 61);
}

.BtnSwapShadow {
  box-shadow: 1px 1px 5px rgb(65, 65, 123),
  -1px -1px 5px rgb(242, 242, 246);
}



=======
.bg{
  background-image: url(./images/background_lockyfi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg1{
  background-image: url(./images/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg2{
  background-image: url(./images/page2BG1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.bg6{
  background-image: url(./images/page6BG.jpg);
  background-size: contain;
  background-repeat:repeat-y;
}


.btn-top {
  /* background-color: rgba(109, 111, 106, 0.539); */
  color: white;
  font-size: 25px;
  border-radius: 10px;

  /* border: 1px solid greenyellow; */

}



.btn-top-active {
  background-color:#8eeb0c;
  color: black;
  font-size: 25px;
  border-radius: 10px;
  /* border: 1px solid greenyellow; */
  
}

.menuDropDown:hover {
  color: white;
  font-size: 21px;
  box-shadow: inset 0 0  4px 1px black;
  backdrop-filter: blur(1px);
  border: 0.5px solid black;
}

.shadow {
  box-shadow: 3px 10px 20px rgb(196, 197, 196),
              -3px -10px 20px rgb(228, 227, 227);
}

.card {
  /* width: 300px;
  height: 380px; */
  box-shadow: 8px 5px 20px black,
              -8px -5px 20px white;
  background-color: rgba(0, 0, 0, 0.851);
}

.card-inner {
  position: relative;
  /* width: 290px;
  height: 360px; */
  transition: transform 0.5s;
  transform-style:preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility:hidden;
  border-radius: 20px;
}

.card-front {
  background-color: black;
  color: white;
}

.card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}


.btn{
  position: relative;
  display: block;
  font-size: 16px;
  font-family: system-ui;
  text-decoration: none;
  margin: 15px 0;
  border: 2px solid blue;
  padding: 14px 55px;
  text-transform:capitalize;
  overflow:hidden;
  transition: 1s all ease;
}

.btn::before{
  background: rgb(7, 179, 252);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, 50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before {
width: 0;
height: 100%;
position: absolute;
top: -50%;
left: 50%;
}

.btn1:hover::before {
  width: 100%;
}

.btn2::before{
  position: absolute;
  top: -50%;
  left: 50%;
  width: 100%;
  height: 0;
}

.btn2:hover::before{
  height: 100%;
}

.btn3::before{
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn3:hover::before{
  height: 380%;
}

.btn4::before{
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn4:hover::before{
  height: 380%;
}


.teamPhoto{
  text-transform:capitalize;
  transition: 0.5s all ease;
}

@media screen{
  
  .divscroll-Img > img {
    animation: fade-in linear forwards;
    animation-timeline: view(100px, 500px);
    animation-range: entry;
  }
}

@keyframes fade-in {

  100% {
    scale: 1;
    opacity: 1;
  }
}

.cards{
  transform: translateY(40px);
  opacity: 0;
  transition: 1s;
}

.cards.show {
  transform: translateY(0);
  opacity: 1;
}
>>>>>>> 86ed5d1faa66f7375286ad42afd128ebfa99fc9e
